/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_header.scss */
.header-icon {
  display: block;
  width: 100px;
  height: 50px;
  background-color: #FAFAFA;
}

/*=================================================================
tablet landscape format
===================================================================*/
@media (min-width: 1024px) {
  /* line 11, ../sass/_header.scss */
  .header {
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #FFF;
    background-color: #F56B2A;
  }

  /* line 21, ../sass/_header.scss */
  nav ul {
    display: flex;
  }
  /* line 23, ../sass/_header.scss */
  nav ul li {
    list-style-type: none;
    margin-left: 30px;
  }

  /* line 29, ../sass/_header.scss */
  a {
    text-decoration: none;
    color: inherit;
  }

  /* line 33, ../sass/_header.scss */
  .site-content {
    padding-top: 66px;
  }

  /* line 36, ../sass/_header.scss */
  .container {
    overflow: hidden;
    *zoom: 1;
  }

  /* line 39, ../sass/_header.scss */
  .header-logo {
    font-weight: bold;
    padding: 0 25px;
    float: left;
  }

  /* line 44, ../sass/_header.scss */
  .menu {
    float: left;
  }
  /* line 46, ../sass/_header.scss */
  .menu a {
    padding: 0 25px;
  }
  /* line 48, ../sass/_header.scss */
  .menu a:hover {
    text-decoration: underline;
  }
}
/* line 8, ../sass/screen.scss */
html, body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/screen.scss */
.map {
  width: 50%;
  float: left;
}

/* line 22, ../sass/screen.scss */
.map path {
  fill: #3D6ABE;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 1px;
  transition: fill 0.3s;
}

/* line 30, ../sass/screen.scss */
.map path:hover {
  fill: #F56B2A;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.3s;
  cursor: pointer;
}

/* line 38, ../sass/screen.scss */
.hover path {
  fill: #F56B2A;
}

/* line 41, ../sass/screen.scss */
.hover {
  color: #F56B2A;
}
