$height-header:70px;
$bcg-orange:#F56B2A;
$menu-width:250px !default;
a{
  text-decoration: none;
  color: #ffffff !important;
}
.header{
  position: static;
  left: 0;
  right: 0;
  height: $height-header;
  line-height: 66px;
  background-color: $bcg-orange;
}
.header-logo{
  font-weight:bold;
  font-size: 25px;
  padding: 0 25px;
  float: left;
  img{
    height: 60px;
  }
}
.menu-header{
  float: left;
  a{
    padding: 0 10px;
    text-transform: uppercase;
    &:hover{
      color: grey;
    }
  }
}
/*==============================================================
mobile
================================================================*/
@media only screen and (max-width: 768px){

  .site-container{
    overflow: hidden;
  }
  .site-content{
    position: absolute;
    top:$height-header;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .header{
    position: static;
  }
  .header-icon{
    position: relative;
    display: block;
    float:left;
    margin:15px 0 0 15px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    @include border-radius(4px);
    &:after{
      content: 'MENU';
      color: $bcg-orange;
      position: absolute;
      display: block;
      width: 22px;
      height: 0;
      top: -10px;
      left: 16px;
    }
  }
  .menu-header{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #34667e;
    width: $menu-width;
    @include transform (translateX($menu-width * -1));
    @include transition-duration(0.3s);
    a{
      display: block;
      text-align: center;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid grey;
    }
  }
  .with--sidebar{
    .menu-header{
      @include transform(translateX(0px));
      z-index: 2;
    }
    .site-hidden{
      position: absolute;
      left: $menu-width;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: rgba(0,0,0,0.3);
      z-index: 2;
    }
  }
}