$height-header:70px;
$bcg-orange:#F56B2A;
$menu-width:250px !default;

.header{
  position: fixed;
  left: 0;
  right: 0;
  height: $height-header;
  line-height: 66px;
  background-color: $bcg-orange;
  a{
    text-decoration: none;
    color: #ffffff !important;
  }
}
.header-logo{
  font-weight:bold;
  font-size: 25px;
  padding: 0 15px;
  float: left;
  img{
    height: 60px;
  }
}
.menu-header{
  float: left;
  button{
    border-style: none;
    border-left:1px solid white;
    border-right: 1px solid white;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    color: white;
  }
  a{
    padding: 0 5px;
    text-transform: uppercase;
    &:hover{
      color: grey;
    }
  }
  .orange{
    display: none;
  }
}
/*==============================================================
mobile
================================================================*/
@media only screen and (max-width: 1000px){
  .site-content{
    position: absolute;
    top:$height-header;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .header-icon{
    position: relative;
    display: block;
    float:left;
    margin:15px 0 0 15px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    @include border-radius(4px);
    &:after{
      content: 'MENU';
      color: $bcg-orange;
      position: absolute;
      display: block;
      width: 22px;
      height: 0;
      top: -10px;
      left: 16px;
    }
  }
  .menu-header{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #34667e;
    width: $menu-width;
    @include transform (translateX($menu-width * -1));
    @include transition-duration(0.3s);
    a, button{
      display: block;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid grey;
    }
  }
  .with--sidebar{
    .menu-header{
      .orange{
        text-align: center;
        background-color: $bcg-orange;
        font-weight:bold;
        color: white !important;
        display: block;
        &:hover{
          color: white !important;
        }
      }
      button{
        color: rgb(51, 102, 153) !important;
        text-align: left;
        text-transform: uppercase;
        width: $menu-width;
        &:hover{
          color: $bcg-orange !important;
          cursor: pointer;
        }
        i{
          display: none;
        }
      }
      a{
        text-align: left;
        color: rgb(51, 102, 153) !important;
        &:hover{
          color: $bcg-orange !important;
          text-decoration: none;
        }
      }
      background-color: #F2F2F2;
      @include transform(translateX(0px));
      z-index: 2;
    }
    .site-hidden{
      position: absolute;
      left: $menu-width;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: rgba(0,0,0,0.3);
    }
  }
}