$menu-width: 300px !default;
/*==================================================================
header
===================================================================*/
.header{
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #F56B2A;
  z-index: 2;
}
.site-container{
  overflow: hidden;
  height: 100%;
}
.site-content{
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
.container{
  height: 100%;
}
.header-icon{
  position: relative;
  display: block;
  width: 80px;
  @include border-radius(4px);
  height: 50px;
  margin: 10px;
  background-color: #FAFAFA;
  &:after{
    content: 'MENU';
    position: absolute;
    top: -8px;
    left: 15px;
    color: #F56B2A;
    display: block;
    width: 16px;
    height: 0;
  }
}
.menu-header{
  height: 1000px;
  z-index: 2;
  position: absolute;
  left: 0;
  top: -10px;
  bottom: 0;
  background-color: #F2F2F2;
  width: $menu-width;
  @include transform(translateX($menu-width * -1));
  @include transition-duration(0.3s);
  ul{
    padding: 0;
    margin: 0;
  }
    li{
      list-style-type: none;
      border-bottom:1px solid #323232;
      a{
        padding-left:10px;
        -ms-text-align-last: right;
        text-align:left;
      }
  }
}
.with--sidebar{
  .menu-header{
    @include transform(translateX(0));
  }
  .site-hidden{
    position: absolute;
    top: 0;
    left: $menu-width;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
  }
}
/*=================================================================
tablet landscape format
===================================================================*/
@media (min-width: 1024px) {
  .site-content, .site-container{
    overflow: hidden;
  }
  .header{
    a{
      font-size: 14px;
      color: white;
    }
    button{
      display: inline-block;
      background-color: inherit;
      border: none;
      border-right: 1px solid wheat;
      border-left:1px solid wheat;
      color: white;
      i{
        vertical-align: middle;
      }
    }
  }
  /*=============================================================
  nav menu header
  ================================================================*/

  .header-icon{
    display: none;
  }
  .menu-header{
    display: inline-block;
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        list-style-type: none;
        a{
          padding: 0 10px;
          &:hover{
            text-decoration: underline;
            color: white;
          }
        }
      }
    }
  }
  .container{
    @include clearfix;
    .header-logo{
      font-size: 20px;
      font-weight:bold;
      padding: 0 10px;
      color: white;
      &:hover{
        text-decoration: none ;
      }
    }
  }
}