/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "header";
html{
  font-family: 'Open Sans', sans-serif;
}
.container{
  @include clearfix;
}
.site-content{
  padding-top: $height-header + 10px;
}
/*=====================================================================================

========================================================================================*/
.title{
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  .orange{
    color: $bcg-orange;
  }
}
.btn{
  font-size: 12px;
}
.map path{
  fill: #3D6ABE;
  stroke: black;
  stroke-miterlimit:10;
  stroke-width:1px;
  transition: fill 0.3s;

}
.map path:hover{
  fill: #F56B2A;
  stroke: black;
  stroke-width:1px;
  transition: fill 0.3s;
  cursor: pointer;
}

.hover path{
  fill: #F56B2A;
}
.hover{
  color:#F56B2A;
}
.btn.btn-secondary.dropdown-toggle{
  width: 350px !important;
}
.text_footer{
  font-weight:bold;
  padding-top:15px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
}
footer{
  background-color: #474747;
}
@import "footer";