/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "header";
.title{
  font-size: 12px;
}
.map path{
  fill: #3D6ABE;
  stroke: black;
  stroke-miterlimit:10;
  stroke-width:1px;
  transition: fill 0.3s;

}
.map path:hover{
  fill: #F56B2A;
  stroke: black;
  stroke-width:1px;
  transition: fill 0.3s;
  cursor: pointer;
}

.hover path{
  fill: #F56B2A;
}
.hover{
  color:#F56B2A;
}

.site-content{
  padding-top: 110px;
}